# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
instance/
.mypy_cache/
.pytest_cache/
.coverage
*.sqlite3
.env
# Node
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db


# Log files
*.log
celery_worker.log
celerybeat.log

# PID files
*.pid
celery_worker.pid
celerybeat.pid

celerybeat-schedule.db